<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/hds.css">
  </head>
    <h1>Welcome to Hundred Days</h1>
    <h2>Keep track of the ONE THING you want to do every day, for 100 days</h2>
  <body>
    <%= yield %>
  </body>
</html>

